*{
	padding: 0px;
	margin: 0px;
}
body{
	
}
.main{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.left_fixed{
	background-color: #091C56;
	width: 25%;
	height: 890px;
	float: left;
	border-right: 2px solid #FFFFFF;
	/*position: fixed;*/
}
.logo_top{
	height: 500px;
}
.logo{
	height: 300px;
	width: 315px;
	float: left;
	padding: 120px 60px;
}
.logo img{
	height: 130px;
	width: 200px;
}
.main_content{
	width: 75%;
	height: 890px;
	float: right;
	border-left: 8px solid #2B386F;
	background-color: #09285E;
}
.main_part{
	width: 830px;
	height: 760px;
	margin: 60px;
}
.baner_menu{
	float: left;
	width: 650px;
	height: 760px;
}
.main_banner{
	height: 600px;
	width: 650px;
	float: left;
}
.main_banner img{
	margin: 240px 108px 50px 108px;
}
.main_menu{
	height: 160px;
	width: 650px;
	float: left;
}
.menu_item{
	display: inline-block;
	margin-right: 10px;
}
.menu_item a p{
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.menu_item a:hover{
	text-decoration: none;
}
/** menu item end  **/

.login_social{
	width: 180px;
	height: 760px;
	float: right;
}
.login_btn{
	width: 180px;
	height: 500px;
	float: right;
	padding-top: 100px;
}
.login_menu{
	float: left;
	display: inline-block;
	margin-right: 10px;
}
.login_menu p{
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
.login_menu a:hover{
	text-decoration: none;
}
.social_part{
	width: 180px;
	height: 260px;
	float: right;
	padding: 130px 5px 15px 50px;
}
.social_menu{
	float: left;
	display: inline-block;
	margin-right: 10px;
}
.social_menu a{ 
	font-size: 10px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

/** Create Account Page start **/
.create_form{
	height: 600px;
	width: 650px;
	float: left;
}
.login_menu_create{
	padding: 0 5px 0 80px;
}
.login_menu_create a{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
.main_form{
	height: auto;
	width: 350px;
	margin: 100px 0 0 150px;
	border: 1px solid #475C8B;
	padding: 15px;
}
.main_form h4{
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	color: #9FDBE6;
}
.main_form input[type=text],input[type=email],input[type=password]{
    width: 100%;
    padding: 6px 15px;
    margin: 3px 0;
    border-radius: 10px;
    border: none;
    background-color: #495B8B;
    color: #fff;
    font-weight: bold;
}
.main_form button{
	width: 50%;
    padding: 6px 15px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    background-color: #019275;
    color: #FFFE03;
    font-weight: bold;
}
/** Create Account Page end **/

/** login Page start **/
.main_form_login{
	height: auto;
	width: 450px;
	margin: 150px 0 0 150px;
	border: 1px solid #475C8B;
	padding: 15px;
}
.main_form_login h4{
	font-weight: bold;
	text-align: center;
	font-size: 26px;
	color: #9FDBE6;
}
.main_form_login input[type=text],input[type=text]{
	 width: 100%;
    padding: 6px 15px;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    background-color: #495B8B;
    color: #fff;
    font-weight: bold;
}
.main_form_login button{
    width: 30%;
    padding: 6px 15px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    background-color: #019275;
    color: #FFFE03;
    font-weight: bold;
    font-size: 18px;
}
/** login Page end **/

/** admin Page end **/
.admin{
	width: 560px;
	height: 480px;
	margin-top: 130px;
	margin-left: 140px;
	float: left;
	border: 1px solid #274375;
	padding: 30px;
	border-radius: 30px;
}
.admin_top{
	height: 220px;
	float: left;
	width: 500px;
	display: inline-block;
}
.admin_bottom{
	height: 220px;
	float: left;
	width: 500px;
}
.admin_item{
	float: left;
	display: inline-block;
}
.admin_item img{
	border-radius: 30px;
}
.admin_item a p{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	padding-top: 5px;
}
.admin_item a:hover{
	text-decoration: none;
}
.admin_top .item1{
	margin-right: 40px;
}
.admin_bottom .item1{
	margin-right: 40px;
}
/** admin Page end **/
/** SMS Send Page end **/
.main_content_ind{
	width: 75%;
	height: 890px;
	float: right;
	border-left: 8px solid #2B386F;
	background-color: #253F70;
}
.logo_top{
	padding: 50px 100px;
}
.logo_top img{
	margin-bottom: 10px;
}
.message_content{
	background-color: #fff;
	float: left;
	margin-top: 100px;
	margin-left: 60px;
	height: 550px;
	width: 720px;
}
.message_content h2{
	font-weight: bold;
	font-size: 30px;
	background-color: #091C56;
	color: #fff;
	padding: 10px 30px;
}
.message_content textarea{
	padding: 10px;
	font-size: 18px;
	border: none;
}
.message_content button{
	background-color: #091C56;
	padding: 10px 20px;
	border: none;
	border-radius: 6px;
	width: 120px;
	margin: 10px 25px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}
/** SMS Send Page end **/

/** SMS panel start **/
.logo_top_sms{
	height: 500px;
	padding: 50px 0 0 50px;
}
.main_part_smsp{
	width: 830px;
	height: 760px;
	margin: 60px;
	float: left;
}
.sms_part_top{
	height: 180px;
	width: 830px;
	padding-left: 130px;
}
.sms_part_bottom{
	height: 295px;
	width: 530px;
	float: left;
}
.individual_mess{
	height: 295px;
	width: 535px;
	float: left;
}
.greate_sms{
	height: 300px;
	width: 280px;
	float: right;
	margin-top: 105px;
	padding: 15px;
	border-top: 1px solid #244169;
	border-bottom: 1px solid #244169;
	border-right: 1px solid #244169;
}
.greate_sms_left{
	height: 270px;
	width: 120px;
	float: left;
}
.greate_sms_right{
	height: 270px;
	width: 120px;
	float: right;
}
.sms_item{
	margin-bottom: 5px;
}
.top_item{
	float: left;
	display: inline-block;
	margin-right: 10px;
}
/** ------------------------ ***/
.individual_mess{
	background-color: #091C56;
	border: 1px solid #244169;
	padding: 15px;
}
.individual_mess_two{
	height: 110px;
	background-color: #091C56;
	float: left;
	width: 535px;
	border-left: 1px solid #244169;
	border-right: 1px solid #244169;
	border-bottom: 1px solid #244169;
}
.row_ind{
	height: 90px;
	width: 535px;
	float: left;
}
.indivi_top_item{
	float: left;
	display: inline-block;
	margin-right: 5px;
}
.row_ind_details_bor{
	float: left;
	display: inline-block;
	border-right: 1px solid #244169;
	padding: 15px;
}
.row_ind_details{
	float: left;
	display: inline-block;
	padding: 15px;
}
/** SMS panel end **/

/** ======= Index page customeize design start ======== **/
.top_item_custome_1{
	width: 120px;
	height: 60px;
	background: url(../images/sms/02c.jpg) no-repeat;
	cursor: pointer;
}
.top_item_custome_2{
	width: 120px;
	height: 60px;
	background: url(../images/sms/03c.jpg) no-repeat;
	cursor: pointer;
}
.top_item_custome_3{
	width: 120px;
	height: 60px;
	background: url(../images/sms/04c.jpg) no-repeat;
	cursor: pointer;
}


/** =========== Index page customeize design end ========== **/

